.bookmarks__list {
  max-height: 600px;
}

.btn-delete-bookmarks {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 5rem;
  display: flex;
  background-color: #f48982;
  color: white;
  border-radius: 6px;
  border: 2px solid black;
  transition-duration: 0.8s;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
